@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  // font-family: $main-font;
  // font-weight: 500;
  color: var(--font-color);
  background-color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
