<footer class="footer">
  <div class="footer__div container">
    <p class="footer__list" id="footer-list">
      © 2022 | All Rights Reserved | <br />
      Developed with

      <svg class="footer__list-icon" width="14" height="13">
        <use href="./images/symbol-sprite.svg#heart-icon"></use>
      </svg>
      by <a class="open-team-modal" href="#">GoIT Students</a>
    </p>
  </div>
</footer>

<div class="progress__scroll" id="progress">
  <span id="progress-value">&#x1F871;</span>
</div>

<div class="donate">
  <a
    target="_blank"
    class="donate-link"
    href="https://savelife.in.ua/donate/#donate-army-card-monthly"
  >
    &#x1F499; Support Ukraine &#x1F49B;
  </a>
</div>
