<footer clas="footer">
  <div class="footer__div container">
    <p class="footer__list">
      © 2022 | All Rights Reserved | Developed with

      <svg class="footer__list-icon" width="14" ,height="13">
        <use href="./images/symbol-sprite.svg#heart-icon"></use>
      </svg>

      by  <a class="open-team-modal" href="#">GoIT Students</a>
    </p>
  </div>
</footer>

<!-- MODAL -->
<div class=" modal">
  <button class="button btn-close" type="button">
    <svg class="close-icon">
      <use href="./images/symbol-sprite.svg#heart-icon" ></use>
    </svg>
  </button>
  <!-- наповнення модалки -->
  <div modal__wrapper>
  <h2 class="modal__title">Team BAVOVNA</h2>
  <ul class="team-pics ">
   <div class="box">
  <li class="team-item">
    <img
    class="team-image"
    src="./images/team/Sergiy.jpg" 
    alt="Сергій Сєров"
    />
    <div class="overlay">
                  <p class="overlay__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem placeat alias, facilis perspiciatis quis? Placeat odit doloribus deleniti quaerat vero pariatur 
                    sequi ut atque voluptate eum! Beatae, possimus delectus.
                </p></div> 
    <div class="member-description">
    <h3 class="team-member">Сергій Сєров</h3>
    <p lang="en" class="team-member-text ">Team Lead</p></div>
    </li>
  </ul>
  </div>
</div>
