<section class="gallery">
  <div class="container">
    <div class="gallery__library">
      <ul class="gallery__library-list" id="gallery-library-list">
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="gallery__item">
          <a class="gallery__link" href="">
            <div class="film-card">
              <img
                src="../images/test-photo.png"
                loading="lazy"
                class="film-card__image"
                alt="greyhound"
              />
              <div class="card">
                <p class="card__name">greyhound</p>
                <div class="card__text">
                  <p class="card__genre">Drama, Action</p>
                  <p class="card__year">2020</p>
                  <p class="card__rate">10.0</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <!-- ДАЛІ МОЖНА ДОДАВАТИ -->
      </ul>
    </div>
  </div>
</section>
