<section class="hero-lib">
  <div class="container">
    <div class="hero-lib-buttons__container">
      <ul class="hero-lib-buttons__list">
        <li class="hero-lib-buttons__item">
          <button
            type="button"
            name="button"
            class="hero-lib-button"
            data-action="watched"
          >
            watched
          </button>
        </li>
        <li class="hero-buttons__item">
          <button
            type="button"
            name="button"
            class="hero-lib-button"
            data-action="queue"
          >
            queue
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
