<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <img class="logo__icon" src="./images/film-icon.svg" alt="Icon logo" />
        <span class="logo__label">Filmoteka</span>
      </a>
      <div class="header-nav__end">
        <label id="switch" class="theme-switcher__switch">
          <input type="checkbox" id="slider" />
          <span
            class="theme-switcher__slider theme-switcher__slider--round"
          ></span>
        </label>
        <a
          href="./index.html"
          class="header-nav__link header-nav__link--current-header"
          >HOME</a
        >
        <a href="./library.html" class="header-nav__link header-nav__link--current-lib">MY LIBRARY</a>
      </div>
    </nav>
  </div>
</header>