<!-- <form action="" id="test_form">
  <label for="test_input">Test search</label>
  <input id="test_input" name="search" />
  <button type="submit">Test search</button>
</form>
<ul id="test_list"></ul>
<ul style="list-style: none; display: flex" id="pag"></ul> -->
<section class="gallery">
  <div class="container">
    <!-- <div class="gallery-library"> -->
    <div class="loader is-hidden">Loading...</div>
    <ul class="gallery__list"></ul>
    <ul class="gallery__pagination"></ul>
    <!-- </div> -->
  </div>
</section>
