<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Movie Library</h2>
    <div class="loader is-hidden">
      <div class="pop">
        <img class="pop1" src="./images/pop-corn-min.png" alt="pop-corn" />
      </div>
      <div class="pop">
        <img class="pop2" src="./images/pop-corn-min.png" alt="pop-corn" />
      </div>
      <div class="pop">
        <img class="pop3" src="./images/pop-corn-min.png" alt="pop-corn" />
      </div>
    </div>
    <ul class="gallery__list"></ul>
    <ul class="gallery__pagination"></ul>
  </div>
</section>
