.header {
  padding-top: 40px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  // position: relative;
  background-repeat: no-repeat;
  background-position: center;

  background: url(../images/header/header-320.png) var(--bg-color);
  background-size: cover;

  @include breakpointDPR(2) {
    background: url(../images/header/header-320-2x.png) var(--bg-color);
    background-size: cover;
  }

  @include breakpointFrom(tablet) {
    background: url(../images/header/header-768.png) var(--bg-color);
    background-size: cover;

    @include breakpointDPR(2) {
      background: url(../images/header/header-768-2x.png) var(--bg-color);
      background-size: cover;
    }
  }

  @include breakpointFrom(desktop) {
    background: url(../images/header/header-1280.png) var(--bg-color);
    background-size: cover;

    @include breakpointDPR(2) {
      background: url(../images/header/header-1280-2x.png) var(--bg-color);
      background-size: cover;
    }
  }
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__icon {
  display: block;
  width: 24px;
  height: 24px;
}

.logo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  stroke: #fff;

  &:hover {
    stroke: red;
    transform: scale(1.1);
  }
  @include breakpointTo(tablet) {
    display: none;
  }

  @include breakpointFrom(tablet) {
    margin-left: 10px;
    // font-family: 'Roboto';
    // font-style: normal;
    // font-weight: 500;
    // font-size: 30px;
    line-height: 1.16;

    text-align: center;

    color: var(--text-color);
  }
  transition: makeTransition((color transform));
  &:hover,
  &:focus {
    color: var(--current-link-color);
    transition: makeTransition((color));
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    margin-left: auto;
  }

  &__end {
    display: flex;
    justify-content: space-between;
  }
}

.theme-switcher__switch {
  background-color: var(--bg-modal-color);
  border-radius: 20px;
  @include breakpointFrom(mobile) {
    right: -215px;
    top: -50px;
  }
  @include breakpointFrom(tablet) {
    right: -640px;
    top: 20px;
  }
  @include breakpointFrom(desktop) {
    right: -1150px;
    top: 30px;
  }
}

.header-nav__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
  transform: scale(1);
  transition: transform ease 1s;
  transition: makeTransition((transform));
  &:hover {
    transform: scale(1.3);
    transition: makeTransition((transform));
  }
}

.header-nav__link {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.16;
  padding-top: 44px;
  padding-bottom: 22px;
  text-transform: uppercase;

  transition: makeTransition((color));
  & {
    padding-bottom: 3px;
  }
  &:hover,
  &:focus {
    color: var(--current-link-color);
    transition: makeTransition((color));
  }
}

.header-nav__link--current-header {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 3px;

    background-color: var(--current-link-color);
  }
}
.hero__home {
  cursor: pointer;
}
.hero-home__container {
  position: relative;
  width: 100%;
  height: 230px;
  padding-top: 118px;

  @include breakpointFrom(tablet) {
    height: 220px;
  }
  cursor: pointer;
}

.hero-home__form {
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  cursor: pointer;
  width: 280px;
  margin: 0 auto 16px auto;

  @include breakpointFrom(tablet) {
    width: 336px;
    margin: 0 auto 20px auto;
  }
  @include breakpointFrom(desktop) {
    width: 394px;
    margin: 0 auto 20px auto;
  }
  border-bottom: 0.5px solid var(--text-color);
  transition: makeTransition((box-shadow border-bottom transform));
  transform: scale(1);
  animation: transition 0.2s ease-out;
  &:hover,
  &:focus-within {
    border-bottom: 3px solid var(--btn-color);
    box-shadow: inset 0 -8px 15px -8px var(--btn-color);
    background: transparent;
    transition: makeTransition((box-shadow border-bottom transform));
    transform: scale(1.1);
    animation: transition 0.2s ease-out;
  }
}

.form_input {
  position: relative;
  width: 100%;
  outline: none;
  padding: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--secondary-text-color);

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
  }
  &:hover,
  &:focus {
    &::placeholder {
      color: var(--input-hover);
    }
  }
}

.form_search-icon {
  fill: var(--text-color);
}

.form_search-button {
  width: 20px;
  height: 20px;
  padding: 3px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.notification {
  width: 280px;
  margin: 0 auto 0 auto;

  font-weight: 400;
  font-size: 14px;
  color: var(--current-link-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include breakpointFrom(tablet) {
    width: 395px;
  }
  @include breakpointFrom(desktop) {
    width: 395px;
  }
}
.notify-is-hidden {
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// HEADER-LIBRARY
