

.flex {
  @include breakpointFrom(tablet) {
    display: flex;
  }
  @include breakpointFrom(desktop) {
    display: flex;
  
  }
}
.movie-info {
  width: 280px;
  padding: 48px 20px 40px 20px;
  font-weight: 500;
  background-color: var(--bg-modal-color);
  @include breakpointFrom(tablet) {
    width: 704px;
    height: 552px;
    padding: 38px 104px 42px 4px;
    // display: flex;
    background-color: var(--bg-modal-color);

    @include breakpointFrom(desktop) {
      width: 806px;
      height: 558px;
      padding: 40px 12px;
      background-color: var(--bg-modal-color);
    }
  }
}

.modal__btn-close {
  background-image: url(../images/btn-close.svg);
  background-position: center;
  padding: 0;
  cursor: pointer;
  top: 8px;
  // top: 16px;
  right: 8px;
  position: absolute;
  // transform: translate(-50%, -50%);

  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  &:hover {
    mask-image: url(../images/btn-close.svg);
    -webkit-mask-image: url(../images/btn-close.svg);
    background-color: var(--btn-color);
  }

  @include breakpointFrom(tablet) {
    // top: 6px;
    // right: 40px;
  }
  @include breakpointFrom(desktop) {
    // top: 8px;
    // right: 8px;
  }
}
.modal__img {
  height: 357px;
  width: 240px;
  border-radius: 5px;
  margin-bottom: 20px;
  @include breakpointFrom(tablet) {
    width: 264px;
    height: 374px;
    margin-bottom: 0;
  }
  @include breakpointFrom(desktop) {
    width: 375px;
    height: 478px;
    margin-bottom: 0;
  }
}
.modal__description {
  @include breakpointFrom(tablet) {
    margin-left: 68px;
  }
  @include breakpointFrom(desktop) {
    margin-left: 16px;
  }
}
.modal__title {
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.modal__table {
  margin-bottom: 12px;
  margin-right: 25px;
  min-width: 100%;
}

.modal__tr {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color-accent);
  display: flex;
  margin-bottom: 8px;
}
.modal__td-lable {
  min-width: 108px;
  color: #8c8c8c;
  @include breakpointFrom(tablet) {
    min-width: 152px;
  }
  @include breakpointFrom(desktop) {
    min-width: 152px;
  }
}
.modal__td-text--accent {
  width: 36px;
  height: 16px;
  padding: 1px 9px;
  background-color: var(--btn-color);
  border-radius: 5px;
  color: var(--text-color);
}

.modal__td-text--slash {
  color: #8c8c8c;
}
.modal__td-text {
  font-size: 12px;
  line-height: 14px;

  color: #000;
}

.modal__td-text--all {
  padding: 1px 4px;
  background-color: #f7f7f7;
  color: #000;

  border-radius: 5px;
}

.modal__subtitle {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.modal__text {
  width: 240px;
  line-height: 1.67;
  font-size: 12px;
  margin-bottom: 20px;
  @include breakpointFrom(tablet) {
    width: 264px;
  }
  @include breakpointFrom(desktop) {
    width: 391px;
  }
}
.modal__button-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpointFrom(desktop) {
    justify-content: flex-start;
  }
}

.modal__button {
  width: 110px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.33;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  @include breakpointFrom(tablet) {
    width: 125px;
  }
  @include breakpointFrom(desktop) {
    width: 136px;
  }
}
.modal__button-item:not(:last-child) {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpointFrom(tablet) {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  @include breakpointFrom(desktop) {
    margin-right: 15px;
    margin-left: 8px;
  }
}
.modal__button--accent {
  background-color: var(--btn-color);
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  transition: makeTransition((opacity visibility transform));
}

.is-hidden .modal-wrapper {
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.modal-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  // background-color: #f7f7f7;
  transform: translate(-50%, -50%);
  // visibility: hidden;
  // opacity: 0;
  // pointer-events: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    color: #c78890;
  }
}
