.team-container {
  width: 600px;
  height: 400px;
  background-color: var(--bg-color);
  padding: 8px;
}

.team-member {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  // min-width: 270px;
  margin-bottom: 10px;
  font-weight: 700;
}

.team-member-text {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  // min-width: 270px;
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.member-description {
  background-color: var(--color-primary);
  padding-top: 10px;
  padding-bottom: 10px;
}

// .team-pics {
//   // display: inline-flex;
// }

.team-image {
  display: block;
  width: 270px;
}

.button {
  width: 30px;
  height: 30px;
}

.btn-close {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;

  background-color: var(--color-accent);
  border-radius: 50;
  border-color: transparent;
}

.box {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: var(--color-accent);

  // transition: transform 250ms var(--timng-function);
}

.team-item:hover .overlay,
.team-item:focus .overlay {
  transform: translateY(0);
}

.overlay__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  color: black;
  padding: 63px 24px;
}